<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="layout03.css">
    </head>
    <body>
        <div class="row">
            <div class="column side">
                <h2>Side</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ad blanditiis quos dolorem, doloribus, doloremque</p>
            </div>
            <div class="column middle">
                <h2>Main Content</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus minus unde quibusdam beatae maiores, illum voluptates suscipit perferendis enim officiis vel adipisci nobis repellat obcaecati non facere, culpa iure molestias!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt veniam ut reiciendis odit vitae libero aliquam, omnis nulla dignissimos quo dolores porro velit distinctio esse? Voluptatibus libero illum qui necessitatibus.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem molestiae nemo a voluptatibus dolores dolorum nisi at iure culpa. Possimus consequuntur animi magnam sit saepe laborum? Ut temporibus voluptatum ex!
                </p>
            </div>
            <div class="column side">
                <h2>Side</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </body>
</html>